# Use this to set the dependencies in a python virtualenv on your local computer.
# It is strongly recommended that you use the library versions suggested below 
# in order maximize compatibility with the cloud instance it will run on.

numpy==1.23.2
pandas==1.4.0
pyarrow     # Needed to load parquet files in pandas
fastparquet # Needed to load parquet files in pandas

# ADITIONAL LIBRARIES YOU MIGHT CONSIDER USING
# scipy==1.9.0
# scikit-learn==1.1.2

# TENSORFLOW VERSION KNOWN TO BE COMPATIBLE WITH THE CUDA DRIVERS ON THE SERVERS
# tensorflow==2.9.1

# PYTORCH VERSION KNOWN TO BE COMPATIBLE WITH THE CUDA DRIVERS ON THE SERVERS
# torch==1.12.1
# torchaudio==0.12.1
# torchvision==0.13.1
